name: Test
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.4
      - name: Install templ
        run: go install github.com/a-h/templ/cmd/templ@latest
      - name: Run templ / go generate
        run: go generate ./cmd/server.go
      - name: Run Test suite
        run: go test ./... -race -cover
